.main {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 60px;
}

.main-title {
    width: calc(100% - 30px);
    max-width: 930px;
    margin-top: 5px;
    margin-bottom: -20px;
}

.main-title-single {
    width: calc(100% - 30px);
    max-width: 596px;
    margin-top: 25px;
    margin-bottom: -10px;
}

.main-title-double {
    width: calc(100% - 30px);
    max-width: 930px;
    margin-top: 25px;
    margin-bottom: -10px;
}

.main-title {
    font-family: Roboto;
    color: black;
    font-size: 26px;
    font-weight: 400;
}

hr {
    width: 100%;
    visibility: hidden;
}