.test-question {
    border-radius: 7px;
    overflow: hidden;
    width: calc(100% - 80px);
    max-width: 600px;
    margin: 15px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding: 25px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

.test-question-index {
    width: 31px;
    display: inline-block;
    padding-right: 4px;
}

.test-question-index>p {
    font-family: Roboto;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.test-question-title {
    display: inline;
    font-family: Roboto;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.test-question-option {
    margin-top: 3px;
    padding-left: 36px;
    text-indent: -36px;
}

.test-question-statement {
    font-family: Lato;
    font-size: 16px;
}

.test-question-radio {
    margin-right: 8px;
    margin-left: 15px;
}

.test-button-container {
    display: flex;
    flex-direction: row;
}

.test-button {
    font-family: Roboto;
    color: black;
    font-size: 16px;
    border-radius: 7px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: 40px;
    width: 100px;
    height: 40px;
    border: none;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: #c22e1d;
    color: white;
}

button:hover {
    cursor: pointer;
}