.test {
    border-radius: 7px;
    overflow: hidden;
    width: calc(100% - 80px);
    max-width: 880px;
    margin: 15px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding: 25px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    flex-grow: 1 1;
}

.test-question-spacer {
    min-height: 25px;
    min-width: 100%;;
}

.test-question-title {
    font-family: Roboto;
    color: black;
    font-size: 20px;
    font-weight: 400;
}